.content-card {
  background: #fff;
  border-radius: 1em;
  margin: auto;
  width: 325px;
  text-align: left;
  padding-top: 4em;
  padding: .7em;
}

body .content-card {
  margin-bottom: 2em;
  margin-top: 2em;
}

.content-card > .img-container {
  padding-top: 10em;
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.content-card > .img-container > img {
  width: 60%

}

.content-card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  padding: 1rem;
}

.content-card > .content > ul {
  list-style-type: none;
}

.content-card > .content > ul > li {
  margin-top: 9px;
}

.content-card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: fixed;
  /* top: 550px;
  right: 550px; */
  cursor: pointer;
}

.content-card > .remove:hover {
  color: #d50000;
}

.container {
    padding: auto;
    margin-top: 1rem;
}
